{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% if photo %}
    {% for photo in photos %}
        <div class="post">
            <div class="date">
                {{ photo.published_date }}
            </div>
            <h1><a href="{% url 'photo_detail' pk=photo.pk %}">{{ photo.title }}</a></h1>
            <p>{{ photo.text|linebreaksbr }}</p>
            <img src="{{photo.img.url}}">
        </div>
    {% endfor %}
    {% elif video %}
    {% for video in videos %}
        <div class="post">
            <div class="date">
                {{ video.published_date }}
            </div>
            <h1><a href="{% url 'video_detail' pk=video.pk %}">{{ video.title }}</a></h1>
            <p>{{ video.text|linebreaksbr }}</p>
            <iframe width="400" height="200" src="https://www.youtube.com/embed/{{video.modified_url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    {% endfor %}
    {% endif %}
{% endblock%}