{% extends 'blog/base.html' %}
<!DOCTYPE html>
<html lang="IT">
{% load staticfiles %}
<head>
	<title>No caffé</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/page2.css' %}">
	<link rel="icon" href="lean.png" type="image/png" />
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/cssbootstrap.min.css">  per icone (anche il link sotto)-->
	<!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Questo dovrebbe essere un<strong><em> TITOLO </em></strong></h1>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
        {% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock%}
        </div>
    </div>
</div>
<br>
<p style="font-family:calibri; font-style:oblique"><a href="https://www.w3schools.com/css/css_link.asp" target="_blank">Link per lgbt ehehe xD</a></p>
<hr>
<p>ciao sono un paragrafo normalissimo</p>
<pre>
ciao sono enrico
e mi piace il font verdana
ahah ho dei pessimi gusti
</pre>
<div class="out">
<p id="fuori"> questo touchpad e' oltremodo fastidioso </p>
</div>
<div class="box">
<script src="{% static 'js/orologio.js' %}"></script>
</div>
</body>
</html>
