<!DOCTYPE html>
<html lang="IT">
<head>
	<title>No caffé</title>
	<link rel="stylesheet" type="text/css" href="page2.css">
	<link rel="icon" href="lean.png" type="image/png" />
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  per icone (anche il link sotto)-->
	<!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Questo dovrebbe essere un<strong><em> TITOLO </em></strong></h1>
<br>
<p style="font-family:calibri; font-style:oblique"><a href="https://www.w3schools.com/css/css_link.asp" target="_blank">Link per lgbt ehehe xD</a></p>
<hr>
<p>ciao sono un paragrafo normalissimo</p>
<pre>
ciao sono enrico
e mi piace il font verdana
ahah ho dei pessimi gusti
</pre>
<div class="out">
<p id="fuori"> questo touchpad e' oltremodo fastidioso </p>
</div>
<div class="box">
<script src="orologio.js"></script>
</div>
